/* git push, para pasar info por el "tubo" */
:root{
    --bg-principal:#151515;
    --bg-encabezado:black;
    --bg-titulos:#a88231;
    --font-color:white;
    --font-textos-color:#7B7B7B;
    --bg-contactos-naranja:#ff5a00;
    --color-card-bordo:#580018;
    --color-card-celeste:#347F9D;
    --color-card-verdeazulado:#4F7E85;
    --color-card-dorado:#8E751F;
   
}
.cardBordo{
    border: 1px solid var(--color-card-bordo) ;
}
.cardCeleste{
    border: 1px solid var(--color-card-celeste);
}
.cardVerdeAzulado{
    border: 1px solid var(--color-card-verdeazulado);
}
.cardDorada{
    border: 1px solid var(--color-card-dorado);
}

.bg-Color_Header{
    background-color: var(--bg-encabezado);
}
a{
    color: var(--font-color);
    text-decoration: none;
}
.textoDorado{
    color: var(--bg-titulos);
}
.bg-Color_MainFooter{
    background-color: var(--bg-principal);
}
.colorTextos{
    color: var(--font-textos-color);
}
/* .transicionDorada:hover{
    color: var(--bg-titulos);
    transition: 1s all;
} */
.blanco{
    color: #fff;
}
.fondoNaranja{
    background-color: var(--bg-contactos-naranja)
}
 

.transicionDorada:hover{
color: var(--bg-titulos);
transition: 1s all;
}