$--bg-principal:#151515;
$--bg-encabezado:black;
$--bg-contactos-naranja:#ff5a00;
$--bg-titulos:#a88231;
$--color-card-bordo:#580018;
$--color-card-celeste:#347F9D;
$--color-card-verdeazulado:#4F7E85;
$--color-card-dorado:#8E751F;
$--font-color:white;
$--font-textos-color:#7B7B7B;



